<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.springboot_study.mapper.StudentStudyMapper">
<!-- type: 클래스 경로, property: entity안의 변수명 -->
    <resultMap id="majorResultMap" type="com.korit.springboot_study.entity.study.Major">
        <id property="majorId" column="major_id" />
        <result property="majorName" column="major_name" />
    </resultMap>

    <select id="selectMajorsAll" resultMap="majorResultMap">
<!-- resultMap id와 resultMap의 값이 같다 -->
        select
            major_id,
            major_name
        from
            major_tb
    </select>



    <insert id="insertMajor">
<!-- keyProperty: 엔티티의 변수명       -->
        insert into major_tb
        values (default, #{majorName})
    </insert>

    <update id="updateMajorName" keyProperty="majorId" useGeneratedKeys="true">
        update
            major_tb
        set
            major_name = #{majorName}
        where
            major_id = #{majorId}
    </update>



    <resultMap id="instructorResultMap" type="com.korit.springboot_study.entity.study.Instructor">
        <id property="instructorId" column="instructor_id" />
        <result property="instructorName" column="instructor_name" />
    </resultMap>

    <select id="selectInstructorsAll" resultMap="instructorResultMap">
        select
            instructor_id,
            instructor_name
        from
            instructor_tb
    </select>

    <insert id="insertInstructor" keyProperty="instructorId" useGeneratedKeys="true">
        insert into
            instructor_tb
        values
            (default, #{instructorName})
    </insert>
</mapper>
